
<!-- set header logo -->

<mat-toolbar>
    <section fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="start stretch">
   
    <button mat-button fxHide.gt-xs><mat-icon>menu</mat-icon></button>
    <img src="assets/brand_img.png" > 
<section fxFlexFill fxHide.lt-md></section>
    <button mat-button>projects</button>
    <button mat-button>about</button>
    <button mat-button>contact  </button>
    </section>
</mat-toolbar>



<!-- write tab contents 
Todo: design mobile friendly websites-->

    