mat-toolbar{
  background: transparent;
  color: black;
width:100%;
}

mat-sidenav-container {
  width: 100%;
  height: 100%;
  background: transparent;
}

mat-sidenav{

  width: 240px;
  
}

mat-sidenav-content {
  background: transparent;
  flex-direction: column;
  align-items: flex-start;
}


